* {
    box-sizing: border-box;
}
:root {
    --empty: #b6cdf0;
    --bomb: #F0D90A;
    --hidden: #3B69AD;
}
body {
    height: 100vh;
    font-family: Helvetica, sans-serif;
}
main {
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.board{
    display: grid;
    border: 1px solid black;
    background-color: var(--hidden);
    margin: 10px;
}
.square{
    border: 2px solid white;
    background-color: var(--hidden);
    font-size: 0px;
}
.msg {
    display: none;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top: 225px;
}
.msg div {
    border: 1px solid black;
    background-color: white;
    font-size: 23px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.replay-1, .replay-2, .board-size {
    cursor: pointer;
    width: 120px;
    height: 40px;
    font-size: 18px;
    background-color: white;
    border-radius: 10px;
    margin: 10px;
    border: 3px solid black;
}
.replay-1:hover, .replay-2:hover, .board-size:hover {
    background-color: var(--empty);
}
.directions {
    font-size: 18px;
}
button#hidden {
    background-color: var(--hidden);
}
button#safe {
    background-color: var(--empty);
    cursor: not-allowed;
    font-size: 23px;
    font-weight: 700;
}
button#bomb {
    background-color: var(--bomb);
    background-image: url(../assets/bomb.png);
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
}
button#flag {
    background-image: url(../assets/flag.png);
    image-rendering: auto;
    max-width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-position: center;
}

/* @media only screen and (min-width: 768px) {
    .square {
        width: 1fr;
        height: 1fr;
    }
} */